<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Tiger</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/login">
        <%= username %>
      </a>
    </li>
  </ul>
</nav>
<body>