<% include header.ejs %>

  <div>
    <form>
      <input type="text" name="username" placeholder="Name" required></input>
      <input type="password" name="password" placeholder="Password" required></input>
      <button type="submit">Submit</button>
    </form>
  </div>
  <% include footer.ejs %>