<% include ../includes/header.ejs %>

<h1>What is your name?</h1>
<form action="login-submit" method="get">
    <input type="text" name="name" required/>
    <input type="submit" value="Login"/>
</form>

<% include ../includes/footer.ejs %>