<% include header.ejs %>

  <h1>Update A Tiger</h1>
  <form action="/update-submit" method="get">
    <input type="text" name="pos" required>
    <input type="text" name="name" required>
    <button type="submit">Update Tiger</button>
  </form>

  <ol id="tigers-list"></ol>

  <a href="#" onclick="seeTigers();">See Tigers</a>
  <br>
  <a href="/">Back</a>

  <script>
    function seeTigers() {
      $.ajax({
        url: '/get-tigers',
        data: false,
        success: callback,
        dataType: 'json'
      });

      function callback(data) {
        data.tigers.forEach(function (tiger, i) {
          $('#tigers-list').append('<li>' + i + ':' + tiger + '</li>')
        })
        console.log(data)
      }
    }</script>

  <% include footer.ejs %>